@font-face {
  font-family: 'VHS Gothic';
  src: url(vhs-gothic.ttf);
}

html {
  --s: 77px; /* control the size*/
  --c1: #f4f4f4;
  --c2: #e3e4e6;
  --c3: #f0f0f0;
  
  background:
    repeating-conic-gradient(from 30deg,#0000 0 120deg,var(--c3) 0 50%) 
     calc(var(--s)/2) calc(var(--s)*tan(30deg)/2),
    repeating-conic-gradient(from 30deg,var(--c1) 0 60deg,var(--c2) 0 120deg,var(--c3) 0 50%);
  background-size: var(--s) calc(var(--s)*tan(30deg));
}

td,th {
    /*font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;*/
    top:10%;
    border:2px solid #8caaa5;
    transition: background-color 1s;
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
    color: 14130f;
}

tr {
  font-family: 'VHS Gothic';
  font-size:2.5ch;
}

tr:hover {background-color: #8caaa5;}

b {
  font-family: 'VHS Gothic';
}

body {
  font-family: 'VHS Gothic';
  background-image:repeating-linear-gradient(45deg, #e5e5e5 0, #d1cfcd 1px, #f8f7f5 0, #e3e0d8 50%);
  zoom: 0%;
  text-align: center;
  /*animation: bannerColor 10s infinite linear 
  background-color: #e5e5f7;
  opacity: 1;
  background-size:10px 10px;
  background-image:repeating-linear-gradient(45deg, #b2c8a5 0, #92b484 1px, #e5e5f7 0, #e5e5f7 50%);*/
}


img {
  width:25ch;
  text-align: right;
}

button {
  font-family: 'VHS Gothic';
  font-size: 5ch;
  border: none;
  background-color: #b3c7b9;
  padding: 2.5%;
  border-radius: 10px;
  color:#14130f;
}


p, label, h1 {
  font-family: 'VHS Gothic';
  font-size: 6ch;
  color:#14130f;
  text-decoration:none;
}


a:visited {
  color:#14130f;
  text-decoration:none;
}

a {
  color: #14130f;
  text-decoration:none;
}

.search {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: #8caaa5;
  text-align: center;
  border-radius: 12px;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: smaller;
  animation: ram 8s infinite linear
}

.slider { 
  animation: ram 5s infinite linear;
  margin-top: 5ch;
  margin-bottom: 5ch;
  margin-left: 5ch;
  margin-right: 5ch;
  background-color: rgb(203, 202, 199);
  text-align: center;
  border-radius: 12px;
  padding: 2%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: smaller;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  animation: ram 8s infinite linear
}

body {
    background-color: #f3fef7;
    
}

table {
    border-radius: 12px;
    background-color: #b3c7b9;
    border:5px solid #8caaa5;
    font-family: 'VHS Gothic';
    /*animation: fonts 5s infinite linear;*/
    width:70%;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

td {
  font-family: 'VHS Gothic';
  text-align: center;
}


@keyframes ram {
    0% {
      
      border-radius: 10px;
      
    }
    25% {
      
      border-radius: 20px;
      
    }
    50% {
      
      border-radius: 30px;
      
    }
    75% {
      
      border-radius: 20px;
      
    }
    100% {
      
      border-radius: 10px;
      
    }
}

